<%= render "shared/navbar" %>
<main class="flex flex-col lg:flex-row-reverse">
  <!--Left desktop; top phone PICTURE-->
  <div class="w-full lg:w-1/2 mt-28 bg-teamspace 2xl:bg-teamspace2 bg-fixed bg-contain bg-right bg-no-repeat">
    <%= image_tag "team.jpg", class: "lg:hidden"%>
  </div>
  <!--right desktop-->
  <div class="flex flex-col items-center lg:w-1/2 lg:pl-10 2xl:pr-5">
    <h1 class="text-2xl font-bold pt-5 lg:mt-40 ">About Us</h1>
    <p class="py-5 px-5">
    99 Lawn Care was started in 2017 by Hilmo Malkic by initially providing lawn care services to his local neighborhood and friends.  The company has grown since then to be the premier lawn care company for the Saint Louis, Missouri area servicing hundreds of properties and clients.  The team has expanded and is growing every year with each season.  We take pride in the work we do.  We are always accepting new clients.  Let's get your lawn looking awesome!
    </p>
    <h1 class="text-2xl font-bold">Our Mission and Vision</h1>
    <p class="py-5 px-5">
      To help our customers create beautiful and sustainable landscaping environments through lawn care and lawn maintenance, while we create career and growth opportunities for our associates and business partners.  To become the number one lawn care service company in the Saint Louis metropolitan area. 
    </p>
    <%= image_tag "hilmo1.jpg", class: "lg:rounded-xl lg:drop-shadow-xl" %>
    <h5 class="text-sm text-gray-500 italic">Hilmo Malkic, Co-Founder of 99 Lawn Care</h5>
    <p class="py-5 px-5">
      We are 99 Lawn Care and we are your lawn care professionals. Servicing the Saint Louis, Missouri area we can perform all of your lawn care and landscaping needs. Big or small, we can do the job! Our lawn service team is ready to offer you the best landscape maintenance and lawn mowing services in Saint Louis, Missouri. All of our lawn service jobs are guaranteed to be satisfactory, our reputation relies on it. If you want our lawn care services or lawn mowing services, give us a ring and get in contact!
    </p>
  </div>
</main>
<%= render "shared/contact_us" %>
<!--Owner Operator Section-->
<%= render "shared/ownerop"%>
<%= render "shared/footer" %>