<%= render "shared/navbar" %>
<main>
  <header class="w-full h-screen bg-errorhead bg-cover bg-center flex justify-center items-center">
      <div class="flex flex-col justify-center items-center mt-32 mx-20 opacity-0 duration-[1000ms] scale-x-0"
      x-intersect="$el.classList.add('opacity-100', 'scale-x-100', 'z-0')"
      >
        <h1 class=" text-center text-4xl sm:text-5xl font-bold">
          Become an Owner/Operator<br>
        </h1>
        <p class="text-center text-xl py-3 font-semibold">
        Make money by partnering with 99 Lawn Care
        </p>
        <%= link_to 'Send a Message', contact_path, class: "text-center block p-3 px-6 bg-lime-200 rounded-lg hover:bg-lime-300 " %>
      </div>
  </header>
</main>

<section class="flex flex-col items-center pb-10">
    <div class="w-4/5 lg:w-3/5 pt-10 flex flex-col items-center">
      <!--Desktop-->
      <h1 class="font-bold text-center text-3xl hidden lg:block">
        Discover why becoming an Owner Operator <br>is a great business opportunity 
      </h1>
      <!--Mobile-->
      <h1 class="font-bold text-center text-3xl lg:hidden">
        Become an<br> Owner Operator
      </h1>
      <p class="text-2xl py-10 lg:w-3/5 w-4/5 text-center">
        By partnering with 99 Lawn Care, you're entering into a turnkey business that has already been proven successful. 
      </p>
      <p class="font-semibold pb-10 text-xl lg:w-3/5 w-4/5 text-center">
        We provide the training and resources to get your company off the ground and running smoothly.  We offer the benefit of economies of scale. 
      </p>

      <p class="font-regular text-lg lg:w-3/5 w-4/5 text-center">
        You can leverage the power of the 99 Lawn Care network and get better deals on supplies and equipment; help in finding new customers and leads; training and support so you become successful.
      </p>
    </div>
  </section>

  <section class="bg-slate-100 py-10">
    <div class="flex flex-col items-center">
      <div class="flex flex-col-reverse lg:flex-row lg:justify-center lg:items-center px-5">

        <div class="lg:w-2/5 mx-5">
          <h3 class="text-blue-900 text-4xl font-semibold py-5" style="">
            1. Low Start Up Costs
          </h3>
          
        </div>
        <div class="lg:w-2/5 flex flex-col items-center">
        <%= image_tag "moneyball.jpg", alt: "ball of money", class: "rounded-xl lg:w-1/2" %>
        </div>
      </div>

      <div class="flex flex-col lg:flex-row lg:justify-center">
        <div class="lg:w-4/5 mx-5 lg:px-5">
          <p class="text-slate-900 text-lg py-5">
            One of the main advantages of becoming a lawn care owner/operator is that it generally has relatively low startup costs compared to other types of businesses. This can make it an attractive option for entrepreneurs who are looking to start a business. Starting a lawn care business starts with purchasing equipment, such as lawn mowers, edgers, and leaf blowers. These costs can typically be kept relatively low if you are careful about what you invest in. 99 Lawn Care will help you find good deals on equipment.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-slate-50 py-10">
    <div class="flex flex-col items-center">
      <div class="flex flex-col-reverse lg:flex-row lg:justify-center lg:items-center">

        <div class="lg:w-2/5 mx-5">
          <h3 class="text-blue-900 text-4xl font-semibold py-5" style="">
            2. High Demand
          </h3>
          
        </div>
        <div class="lg:w-2/5 flex flex-col items-center">
          <%= image_tag "smilewoman.jpg", alt: "Woman mowing grass", class: "rounded-xl lg:w-1/2" %>
          <div class="text-sm italic text-slate-500 pt-2">Anyone can be an owner operator</div>
        </div>
      </div>

      <div class="flex flex-col lg:flex-row lg:justify-center">
        <div class="lg:w-4/5 mx-5 lg:px-5">
          <p class="text-slate-900 text-lg py-5">
            Lawn care is a service that is always in demand. People are always looking for ways to maintain their lawns and keep them looking attractive. But many people are busy with work and other commitments and may not have the time to take care of their own lawns. This creates an opportunity for lawn care businesses to provide a valuable service.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--
  <section class="bg-slate-100 py-10">
    <div class="flex flex-col items-center">
      <div class="flex flex-col-reverse lg:flex-row lg:justify-center lg:items-center">

        <div class="lg:w-2/5 mx-5">
          <h3 class="text-blue-900 text-4xl font-semibold py-5" style="">
            3. Flexibility
          </h3>
          
        </div>
        <div class="lg:w-2/5 flex flex-col items-center">
          <%#= image_tag "googlead2.webp", alt: "example of a paid google ad for flight schools"  %>
        </div>
      </div>

      <div class="flex flex-col lg:flex-row lg:justify-center">
        <div class="lg:w-2/5 mx-5 lg:px-5">
          <p class="text-slate-900 text-lg py-5">
            We want your flight school to be seen everywhere that prospective student pilots look. It's how our proven system generates so many leads so consistently.
          </p>
          <p class="text-slate-900 text-lg py-5">
            That starts with Google Ads and other pay per click advertising sources. We'll have your company running campaigns almost immediately and showing up for the terms you want to show up for on Google in your local area.  
          </p>
          <p class="text-slate-900 text-lg py-5">
            In addition, we'll implement a social media strategy which can go a long way.  There are a billion registered users on Facebook and Instagram and it's growing everyday.  You need to reach these future students which are spending their time on social media.
          </p>
        </div>
    
        <div class="lg:w-2/5 mx-5">
          <p class="text-slate-900 text-lg py-5">
            Facebook and Instagram ads are a great way to do this. We can target users on social media platforms with ads for your flight school directly and show them offers, branded videos, and more at the click of a button. 
          </p>
          <p class="text-slate-900 text-lg py-5">
            We'll work with you to create highly targeted ads that showcase your flight school in order to build trust and confidence before future students end up requesting a discovery flight from you.
          </p>
          <ul class="lg:pb-10 pr-5 pb-5">
          <li class="pb-5">
              <div class="flex flex-row">
                <div class="text-green-500 pr-3">✓</div>
                  Google pay per click ads
              </div>
            </li>
            <li class="pb-5">
              <div class="flex flex-row">
                <div class="text-green-500 pr-3">✓</div>
                  Branding ad campaigns
              </div>
            </li>
            <li class="pb-5">
              <div class="flex flex-row">
                <div class="text-green-500 pr-3">✓</div>
                  Retargeting ad campaigns
              </div>
            </li>
            <li class="pb-5">
              <div class="flex flex-row">
                <div class="text-green-500 pr-3">✓</div>
                  Discovery flight ads
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-slate-50 py-10">
    <div class="flex flex-col items-center">
      <div class="flex flex-col-reverse lg:flex-row lg:justify-center lg:items-center">

        <div class="lg:w-2/5 mx-5">
          <h3 class="text-blue-900 text-4xl font-semibold py-5" style="">
            4. Potential for Growth
          </h3>
          
        </div>
        <div class="lg:w-2/5 flex flex-col items-center">
          <%#= image_tag "review.webp", alt: "five star reviews of a flight school on google", class: "w-4/5" %>
        </div>
      </div>

      <div class="flex flex-col lg:flex-row lg:justify-center">
        <div class="lg:w-2/5 mx-5 lg:px-5">
          <p class="text-slate-900 text-lg py-5">
            Your reputation matters more than ever for your flight school.  With the advent of the internet, prospective students are able to do their own research online and determine which school to call first.  Sometimes, your customers will give you reviews on their own accord, but more often than not they will need a little encouraging.
          </p>
         <h4 class="font-semibold text-xl py-5">When your future students research flight schools in their area, they want to choose a school that has verified and trusted reviews.</h4>
        </div>
    
        <div class="lg:w-2/5 mx-5">
          <p class="text-slate-900 text-lg py-5">
            We'll give you the tools you need that help to get your business more 5 star reviews than your competitors in no time. Our reputation management part of our Flight School Marketing System provides the following:
          </p>
          <ul class="pr-5 pb-5">
            <li class="pb-5">
              <div class="flex flex-row">
                <div class="text-green-500 pr-3">✓</div>
                  Send out emails to pilots who have gotten their certificates and ratings from your flight school to leave a review
              </div>
            </li>
            <li class="pb-5">
              <div class="flex flex-row">
                <div class="text-green-500 pr-3">✓</div>
                  Use automation to send out requests to previous students on a specified basis to request reviews directly
              </div>
            </li>
            <li class="pb-5">
              <div class="flex flex-row">
                <div class="text-green-500 pr-3">✓</div>
                  Embed and display these reviews on your website for higher visibility and establish your leadership position in the flight training community
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-slate-100 py-10">
    <div class="flex flex-col lg:flex-row lg:justify-center">
      <div class="mx-5 lg:w-2/5">
        <h3 class="text-blue-900 text-4xl font-semibold py-5" style="">
          5. Support and Resources
        </h3>
        <p class="text-slate-900 text-lg hidden lg:block">
          If your flight school doesn't have a video, you're missing out.<br>  Big time.  If you think your flight school can survive in the upcoming years without using video, then "good luck".
        </p>
        <p class="text-slate-900 text-lg lg:hidden">
          If your flight school doesn't have a video, you're missing out.  Big time.  If you think your flight school can survive in the upcoming years without using video, then "good luck".
        </p>
        <p class="text-slate-900 text-lg pt-5">
          More than 62% of internet users browse YouTube daily.  More than 8 billion views are generated from Facebook videos each day.  78% of marketing professionals say that videos have helped sales as a marketing tool.
        </p>
        <p class="text-slate-900 text-lg py-5">
          Right Rudder is all in with video because it just works.  Plain and simple.  It gets your flight school's messaging across clearer, it shows true authenticity for your flight school and the team behind it. And most of all, it conveys trust.
        </p>
      </div>
      <div class="mx-5 lg:w-2/5">
        <%#= image_tag "recording.webp", alt: "person recording video during a flight over mountains", class: "w-4/5" %>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row lg:justify-center">
      <div class="mx-5 lg:w-2/5">
        <h4 class="font-semibold text-xl py-5">We'll show you our video advertising framework and get all of the video ads you'll need shot and edited for the next 12 months of your advertising campaign.</h4>
      </div>
      <div class="mx-5 lg:w-2/5">
        <p class="text-slate-900 text-lg py-5">
          We'll help create the following types of ad campaigns:
        </p>
        <ul class="pr-5 pb-5">
          <li class="pb-5">
            <div class="flex flex-row">
              <div class="text-green-500 pr-3">✓</div>
                Brand awareness video ads
            </div>
          </li>
          <li class="pb-5">
            <div class="flex flex-row">
              <div class="text-green-500 pr-3">✓</div>
                Lead generation video ads
            </div>
          </li>
          <li class="pb-5">
            <div class="flex flex-row">
              <div class="text-green-500 pr-3">✓</div>
                Informational video ads
            </div>
          </li>
          <li class="pb-5">
            <div class="flex flex-row">
              <div class="text-green-500 pr-3">✓</div>
                Retargeting video ads
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  -->
<%= render "shared/footer" %>