<%= render "shared/navbar" %>
<main class="">
  <!--Desktop Gallery-->
  <section class="overflow-hidden text-gray-700 bg-lime-50 hidden lg:block">
    <div class="container px-5 py-2 mx-auto lg:py-10 lg:px-32">
      <div class="flex flex-wrap -m-1 md:-m-2">
        <div class="flex flex-wrap w-1/2">
          <div class="w-1/2 p-1 md:p-2">
            <%= image_tag "hilmo3.webp", class: "block object-cover object-left w-full h-full rounded-lg", alt: "Hilmo by the truck with equipment" %>
          </div>
          <div class="w-1/2 p-1 md:p-2">
            <%= image_tag "hilmo4.webp", class: "block object-cover object-center w-full h-full rounded-lg", alt: "Hilmo mowing grass"%>
          </div>
          <div class="w-full p-1 md:p-2">
            <%= image_tag "hilmo2.webp", class: "block object-cover object-center w-full h-full rounded-lg", alt: "Hilmo with a lawnmower" %>
          </div>
        </div>
        <div class="flex flex-wrap w-1/2">
          <div class="w-full p-1 md:p-2">
            <%= image_tag "team.webp", class: "block object-cover object-center w-full h-full rounded-lg", alt: "99 Lawncare Team" %>
          </div>
          <div class="w-1/2 p-1 md:p-2">
            <%= image_tag "hilmo5.webp", class: "block object-cover object-center w-full h-full rounded-lg", alt: "Hilmo mowing grass" %>
          </div>
          <div class="w-1/2 p-1 md:p-2">
            <%= image_tag "hilmo1.webp", class: "block object-cover object-center w-full h-full rounded-lg", alt: "Hilmo by the white truck" %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Mobile images-->
  <section class="bg-lime-50">
    <div class="flex flex-col px-5 py-5 lg:hidden">
      <%= image_tag "team.webp", class: "rounded-[45px] drop-shadow-lg py-3", alt: "99 Lawncare Team" %>
      <%= image_tag "hilmo2.webp", class: "rounded-[45px] drop-shadow-lg py-3", alt: "Hilmo with a lawnmower" %>
      <%= image_tag "hilmo3.webp", class: "rounded-[45px] drop-shadow-lg py-3", alt: "Hilmo by the truck with equipment" %>
      <%= image_tag "hilmo4.webp", class: "rounded-[45px] drop-shadow-lg py-3",  alt: "Hilmo mowing grass" %>
      <%= image_tag "hilmo5.webp", class: "rounded-[45px] drop-shadow-lg py-3", alt: "Hilmo mowing grass" %>
      <%= image_tag "hilmo1.webp", class: "rounded-[45px] drop-shadow-lg py-3" , alt: "Hilmo by the white truck"%>
    </div>
  </section>

  <%= render "shared/contact_us" %>
</main>
<%= render "shared/footer" %>