<!--Top Menu-->
<div x-data="{ showBar: false }">
  <!--<nav class="w-full fixed"
  :class="{ 'bg-white shadow transition duration-500' : showBar }"
  @scroll.window="showBar = (window.pageYOffset > 20) ? true : false"
  x-data="{ open: false }"
  >-->
  <nav class="w-full fixed bg-white" x-data="{ open: false }">
    <!--Flex Container-->
    <div class="flex flex row items-center justify-between py-5">
      <!--Logo Box-->
        <div class="hover:brightness-75">
          <%= link_to root_path do %>
            <%= image_tag "logo1.png", class: "h-16 lg:h-24 ml-5" %>
          <% end %>
        </div>
      <!--Mobile Hamburger-->
        <div class="lg:hidden text-4xl pr-5 hover:text-lime-600" x-on:click="open = ! open">
          ☰
        </div>
      <!--Link Box Desktop-->
        <div class="hidden lg:block mr-5 text-lg ">
        <%= link_to "Home", root_path, class: "px-5 hover:text-lime-600" %>
        <%= link_to "Services", root_path, class: "px-5 hover:text-lime-600" %>
        <%= link_to "About Us", root_path, class: "px-5 hover:text-lime-600" %>
        <%= link_to "Gallery", root_path, class: "px-5 hover:text-lime-600" %>
        <%= link_to "Contact Us", root_path, class: "px-5 hover:text-lime-600" %>
        </div>
    </div>
    <!--Mobile Menu-->
    <!--<div class="bg-white w-full p-5" x-show="open" x-transition x-transition:enter.duration.600ms   :class="{ 'bg-white shadow transition duration-100' : showBar }" @scroll.window="showBar = (window.pageYOffset > 20) ? true : false">-->
    <div class="bg-white w-full h-screen flex flex-col justify-center pb-52" x-show="open" x-transition x-transition:enter.duration.600ms >
      <ul class="text-center font-semibold text-lg">
        <li class="py-3"><%= link_to "Home", root_path, class: "hover:text-lime-600" %></li>
        <li class="py-3"><%= link_to "Services", root_path, class: "hover:text-lime-600" %></li>
        <li class="py-3"><%= link_to "About Us", root_path, class: "hover:text-lime-600" %></li>
        <li class="py-3"><%= link_to "Gallery", root_path, class: "hover:text-lime-600" %></li>
        <li class="py-3"><%= link_to "Contact Us", root_path, class: "hover:text-lime-600" %></li>
      </ul>
    </div>
  </nav>
</div>
<main>
  <header class="w-full h-screen bg-randomhead1 <%#= randomized_background_image %> bg-cover bg-center flex justify-center items-center">
      <div class="flex flex-col justify-center items-center mt-10 mx-20">
          <h1 class=" text-center text-4xl sm:text-5xl font-bold">
            Get the best lawn in your neighborhood<br>
          </h1>
          <%= link_to 'Schedule a quote', root_path, class: "mt-5 text-center block p-3 px-6 bg-lime-200 rounded-full hover:bg-lime-300" %>
      </div>
  </header>
sadsdas
asd
asd
as
</main>