<%= render "shared/navbar" %>
<main>
  <header class="w-full h-screen bg-randomhead69 bg-cover bg-center flex justify-center items-center">
      <div class="flex flex-col justify-center items-center mt-32 mx-20 opacity-0 duration-[1000ms] scale-y-0"
      x-intersect="$el.classList.add('opacity-100', 'scale-y-100', 'z-0')"
      >
        <h1 class=" text-center text-4xl sm:text-5xl font-bold">
          Services<br>
        </h1>
        <p class="text-center py-3">
        We specialize in weekly/biweekly lawn maintenance for residential/commercial properties
        </p>
        <%= link_to 'Contact Us', root_path, class: "text-center block p-3 px-6 bg-lime-200 rounded-lg hover:bg-lime-300 " %>
      </div>
  </header>
  <!--Lawn Mowing section-->
  <section class="">
    <h1 class="text-center text-2xl font-bold py-5">Lawn Mowing</h1>
    <!--Services? Container.  Col mobile, row desktop-->
    <div class="lg:flex lg:flex-row-reverse lg:items-center lg:justify-center">
      <!--Text-->
      <div class="m-5 flex flex-col lg:w-1/3">
        Lawn care and maintenance takes time and the right equipment to do it right. 99 Lawn Care is prepared to handle even the most complex mowing needs. When hiring someone to care for your yard, you want to make sure it's a company you can trust.  You can rest assured that your yard mowing services will get done right. It's that simple. Just ask our happy customers.
      </div>
      <!--Picture-->
      <div class="w-full lg:m-5 lg:w-1/3">
        <%= image_tag "mower.jpg", class: "lg:rounded-xl lg:drop-shadow-xl" %>
      </div>
    </div>
  </section>

  <section class="bg-lime-500 pb-10">
    <h1 class="text-center text-2xl font-bold py-5">How to get started</h1>
    <!--Step-->
    <div class="flex flex-col items-center pb-5 lg:flex-row lg:justify-center opacity-0 duration-[1000ms] translate-y-full" x-intersect="$el.classList.add('opacity-100', 'translate-y-0', 'z-0')">
      <!--Number-->
      <div class="border border-lime-500 border-4 rounded-full w-min py-3 px-6 text-3xl font-bold text-lime-500">
      1
      </div>
      <!--Text-->
      <div class="flex flex-col items-center lg:items-start lg:ml-10 lg:w-1/2">
        <p class="font-semibold py-3">
        Contact us for a free quote
        </p>
        <p class="text-center px-10 lg:px-0 lg:text-left">
        Get in contact with us and we'll help design a lawn care program that fits your needs.
        </p>
      </div>
    </div>
    <!--Step-->
    <div class="flex flex-col items-center pb-5 lg:flex-row lg:justify-center opacity-0 duration-[1000ms] translate-y-full" x-intersect="$el.classList.add('opacity-100', 'translate-y-0', 'z-0')">
      <!--Number-->
      <div class="border border-lime-500 border-4 rounded-full w-min py-3 px-5 text-3xl font-bold text-lime-500">
      2
      </div>
      <!--Text-->
      <div class="flex flex-col items-center lg:items-start lg:ml-10 lg:w-1/2">      
        <p class="font-semibold py-3">
        We get to work
        </p>
        <p class="text-center px-10 lg:px-0 lg:text-left">
        We'll do all the hard work so you don't have to.  We'll service your property and make sure your lawn is looking fresh and clean.
        </p>
      </div>
    </div>
    <!--Step-->
    <div class="flex flex-col items-center pb-5 lg:flex-row lg:justify-center opacity-0 duration-[1000ms] translate-y-full" x-intersect="$el.classList.add('opacity-100', 'translate-y-0', 'z-0')">
      <!--Number-->
      <div class="border border-lime-500 border-4 rounded-full w-min py-3 px-5 text-3xl font-bold text-lime-500">
      3
      </div>
      <!--Text-->
      <div class="flex flex-col items-center lg:items-start lg:ml-10 lg:w-1/2">
        <p class="font-semibold py-3">
        Enjoy your clean manicured lawn!
        </p>
        <p class="text-center px-10 lg:px-0 lg:text-left">
        Sit back, relax, and watch your lawn become the best in the neighborhood.  You deserve it!
        </p>
      </div>
    </div>
  </section>
  <%= render "shared/contact_us"%>
</main>
<%= render "shared/footer" %>